<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모임통장</title>
    <script>
        function deposit() {
            window.location.href="/board/deposit";
        }
        function  withdraw(){
            window.location.href="/board/withdraw";
        }
    </script>
</head>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cheatsheet.css" rel="stylesheet">
<body>
<article class="my-3" id="tables">
    <div class="out">
        <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2 in">
            <h3>모임 통장 입출금 내역</h3>
        </div>
    </div>
    <form>
        <div class="out">
            <div class="bd-example in">
                <table class="table table-striped outline">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">사용처</th>
                        <th scope="col">입/출금</th>
                        <th scope="col">금액</th>
                        <th scope="col">잔액</th>
                        <th scope="col">결제시간</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="list : ${useList}">
                        <td th:text="${list.seq}"></td>
                        <td th:text="${list.use}"></td>
                        <td th:text="${list.daw}"></td>
                        <td th:text="${list.price}"></td>
                        <td th:text="${list.balance}"></td>
                        <td th:text="${#temporals.format(list.paymentTime, 'yyyy.MM.dd HH:mm:ss')}"></td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" onclick="deposit()">입금</button>
                <button type="button" class="btn btn-primary" onclick="withdraw()">출금</button>
            </div>
        </div>
    </form>
</article>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/cheatsheet.js"></script>
</body>
</html>