<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>💵입금내역등록💵</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!— Custom styles for this template —>
    <link href="/css/cheatsheet.css" rel="stylesheet">

    <!— jquery webjars add —>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function depositdo() {
            if (document.getElementById("use").value == "") {
                alert("입금자를 입력해 주세요.");
                document.getElementById("use").focus();
                return false;
            } else if (document.getElementById("price").value == "") {
                alert("금액을 입력해 주세요.");
                document.getElementById("price").focus();
                return false;
            } else {
                alert("등록되었습니다.");
                const frm = document.frm;
                frm.setAttribute("method", "post");
                frm.setAttribute("action", "/board/depositdo");
                frm.submit();
                return true;
            }
        }
        function gotolist() {
            window.location.href = "/board/list";
        }
        $(document).ready(function () {
            //등록 이벤트 진행
            $("#registerInfo").on("click", function () {
                if(invalid() == true){
                    $("#price").removeClass('is-invalid');
                    // 아래는 비동기 처리
                    $.post("/board/depositdo", $("form[name=frm]").serialize() , function (data) {
                        alert(data);
                        if(data.search('성공') > 0){
                            $(location).attr("href", "/board/list");
                        }
                    });
                }
            });
            $(".gotolist").on("click", function () {
                $(location).attr("href", "/board/list");
            });
        });
    </script>
</head>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cheatsheet.css" rel="stylesheet">
<body>
<article class="my-3" style="display: flex; justify-content: center; flex-direction: column; align-items: center">
    <div class="bd-heading sticky-xl-top mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>💵입금내역등록💵</h3>
    </div>
    <br>
    </div>
    <div class="bd-example register-outline" style="width: 40%; display: flex; justify-content: center">
        <form name="frm" style="width: 90%">
            <br>
            <div class="mb-3" style="width: 100%">
                <label class="form-label">입금자</label>
                <input name="use" id="use" type="text" class="form-control" aria-describedby="emailHelp" placeholder="입금자명을 입력해주세요" required>
            </div>
            <div class="mb-3" style="width: 100%">
                <label class="form-label">금액</label>
                <input name="price" id="price" type="text" class="form-control" onkeyup="invalid()" placeholder="금액을 입력해주세요(숫자만입력)" required>
                <div class="valid-feedback">
                    입력 완료.
                </div>
                <div class="invalid-feedback price-feedback">
                    금액을 똑바로 입력 하세요.
                </div>
            </div>
            <br>
            <div style="display: flex; justify-content: center">
                <button type="submit" class="btn btn-primary" id="registerInfo">등록</button>&nbsp;
                <button type="submit" class="btn btn-secondary gotolist">목록으로가기</button>
            </div>
            <br>
        </form>
        <br>
    </div>
</article>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/cheatsheet.js"></script>
<script src="/js/bankbook-validation.js"></script>
</body>
</html>