<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>💸출금내역등록💸</title>
    <script>
        function withdrawdo() {
            if (document.getElementById("use").value == "") {
                alert("사용처를 입력해 주세요.");
                document.getElementById("use").focus();
                return false;
            } else if (document.getElementById("price").value == "") {
                alert("금액을 입력해 주세요.");
                document.getElementById("price").focus();
                return false;
            } else {
                alert("등록되었습니다.");
                const frm = document.frm;
                frm.setAttribute("method", "post");
                frm.setAttribute("action", "/board/withdrawdo");
                frm.submit();
            }
        }
        function gotolist(){
            window.location.href="/board/list";
        }
    </script>

</head>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cheatsheet.css" rel="stylesheet">
<body>
<article class="my-3" style="display: flex; justify-content: center; flex-direction: column; align-items: center">
    <div class="bd-heading sticky-xl-top mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>💸출금내역등록💸</h3>
    </div>
    <br>
        <div class="bd-example outline" style="width: 40%; display: flex; justify-content: center">
            <form name="frm" style="width: 90%">
                <br>
                <div class="mb-3" style="width: 100%">
                    <label class="form-label">사용처</label>
                    <input name= "use" id="use" type="text" class="form-control" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3" style="width: 100%">
                    <label class="form-label">금액</label>
                    <input name= "price" id="price" type="text" class="form-control" required>
                </div>
                <br>
                <div style="display: flex; justify-content: center">
                    <button type="submit" class="btn btn-primary" onclick="withdrawdo()">등록</button>&nbsp;
                    <button type="submit" class="btn btn-secondary" onclick="gotolist()">목록으로가기</button>
                </div>
                <br>
            </form>
            <br>
        </div>
</article>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/cheatsheet.js"></script>
</body>
</html>